/*FONT*/

@font-face {
    font-family: 'Akira Expanded';
    src: url(/assets/font/akira-expanded.otf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(/assets/font/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(/assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(/assets/font/Montserrat/Montserrat-Light.ttf);
}


/*SCROLL BAR*/


/*INITIALISATION*/

body,
header *,
nav * {
    margin: 0;
    padding: 0;
    /* border: solid 1px green; */
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*HEADER*/

header {
    background-color: #fa0f33;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

header a img {
    margin-right: 10px;
    position: absolute;
    height: 80px;
}

header a span {
    position: static;
    color: #fffefe;
    font-size: 70px;
    font-family: 'Akira Expanded';
    margin-left: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*MENU DE NAVIGATION*/

nav.navigation {
    box-shadow: 0 2px 5px 0 #00000033, 0 2px 10px 0 #00000033;
}

nav.navigation,
nav.navigation ul {
    background-color: #1a1a1f;
    display: flex;
}

nav.navigation ul.leftnav {
    margin-right: auto;
}

nav.navigation ul.rightnav {
    margin-left: auto;
}

nav.navigation ul li {
    padding: 14px 0;
    display: inline-block;
    transition: background-color 0.3s ease-out;
}

nav.navigation ul li a {
    padding: 14px 16px;
    color: #fffefe;
    font-family: 'Montserrat-Bold';
    font: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav.navigation ul li a:hover {
    color: #1a1a1f;
}

nav.navigation ul li:hover {
    background-color: #fffefe;
}


/*CORPS DE LA PAGE*/

#corps {
    margin: 8px;
}

h1 {
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}

span {
    font-family: 'Montserrat-Regular';
}

p {
    font-family: 'Montserrat-Regular';
}

tr * {
    font-family: 'Montserrat-Regular';
}

input {
    font-family: 'Montserrat-Light';
}

h3 {
    font-family: 'Montserrat-Bold';
}

h2 {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}


/*MENU INSCRIPTION*/

.selectformat {
    width: 100%;
}

.selectformat:focus {
    min-width: 192px;
    width: 100%;
}


/*MENU VENDEUR*/


/*CARDS CATALOGUE*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 354px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    height: auto;
}

.card img {
    height: 300px;
    max-width: 200px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    transition: background-color 0.3s ease-out;
}

.card button:hover {
    background-color: #000000c7;
}

.film button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 283px;
    font-size: 18px;
    transition: background-color 0.3s ease-out;
}

.film button:hover {
    background-color: #000000c7;
}


/*NAVIGATION CATALOGUE*/

.nav_catalogue a {
    border: none;
    background-color: #000;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease-out;
    padding: 12px;
    font-family: 'Montserrat-Regular';
}

.nav_catalogue a:hover {
    background-color: #000000c7;
}

.nav_catalogue li {
    margin-top: 20px;
    display: inline-block;
}

table tr td {
    padding: 5px;
}

tr.liste:nth-child(even) {
    background: rgb(230, 230, 230)
}

tr.liste:nth-child(odd) {
    background: #FFF
}

.margin {
    margin: 5px;
}

.invisible {
    display: none;
}

#corps_paddingleft {
    padding-left: 328px;
}

#menu {
    padding-top: 10px;
    position: absolute;
    height: 100%;
    width: 310px;
    background-color: #1a1a1f;
    font-family: 'Montserrat-Bold';
    color: #fffefe;
    list-style: none;
    top: 138px;
}

#menu * {
    color: #fffefe;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu ul {
    padding-left: 10px;
    margin: 10px;
}

.deroulant {
    overflow: hidden;
}

.deroulant li {
    display: block;
}

.deroulant label {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 20px;
}

.deroulant input[type=checkbox] {
    display: none;
}

.deroulant .sousmenu>li {
    cursor: pointer;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    margin-left: 15px;
    font-family: 'Montserrat-Regular';
}

.deroulant input:checked+.sousmenu>li {
    height: 25px;
    opacity: 1;
}

.scrollinvisible::-webkit-scrollbar {
    display: none;
}

.contact {
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
}

.contact:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}